@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

body {
    background-color: #121812;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    font-family: 'Jura', sans-serif;
}

html, .fullscreen {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #03071a;
  }
  
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, #284b6e,#19324B);
    border-radius: 10px;
  }

header{
    background-image: url('../img/header.png');
    width: 100%;
    background-size: 100% 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.meio{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.texto{
    margin-top: 53%;
    margin-bottom: 47%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 70%;
    flex-wrap: wrap;
}

.introducao>h1{
    margin-top: -25px;
    width: 100%;
    font-size: 68px;
}

.introducao, .introducao2{
    padding: 17px;
}

.introducao2>h1{
    margin-top: -14px;
    width: 100%;
    font-size: 42px;
}

.paragrafo1{
    text-align: justify;
    margin-top: -20px;
    font-size: 19px;
    width: 80%;
}

.paragrafo2{
    text-align: justify;
    margin-top: 10px;
    font-size: 19px;
    width: 80%;
}

.botao{
    margin-top: -10px;
    margin-left: -7%;
    width: 65px;
    border-radius: 50px;
    height: 65px;
    background-color: #19324B;
    position: absolute;
    cursor: pointer;
    transition: all .5s;
    border: 4px solid transparent;
}

.botao:hover{
    border: 4px solid #136497;
    border-radius: 50%;
}

.botao>img{
    width: 100%;
    height: 100%;
}

.container1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/main.png');
    background-size: 100% 100%;
}

.container2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/main.png');
    background-size: 100% 100%;
}

.imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 100%;
    background-image: url('../img/imagem1.png');
    background-size: 100% 100%;
}


.form{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.formulario{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-left: 41px;
    padding-right: 34px;
    width: 100%;
    height: 82%;
}

.inputs{
    width: 79%;
    display: flex;
    flex-direction: column;
}

.barra2{
    position:relative;
    width: 14px;
    height: 97%;
    border-radius: 5px;
    background-color: #19324B;
}

.imagem1{
    width: 50%;
    height: 100%;
    background-image: url('../img/imagem2.png');
    background-size: 100% 100%;
}

.form1{
    width: 50%;
    height: 100%;
}


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 200px;
    background-color: #040B16;
}

.barra{
    position:relative;
    width: 14px;
    height: 79%;
    border-radius: 5px;
    background-color: #19324B;
}


input {
    font-size: 17px;
    padding: 8px;
    margin-bottom: 32px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    font-family: 'Jura', sans-serif;
}

input::placeholder{
font-size: 13.2px;
color: #C5C5C5;
font-family: 'Jura', sans-serif;
}

.botoes{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.calcular{
    color: white;
    padding: 15px;
    border-radius: 12px;
    background-color: #228712;
    font-family: 'Jura', sans-serif;
    border: #228712;
    cursor: pointer;
    font-size: 21px;
    transition: all 0.5s;
}

.calcular:hover, .limpar:hover, #botaoo > button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.limpar{
    color: white;
    cursor: pointer;
    background-color: #B40606;
    border-radius: 12px;
    font-size: 21px;
    border: #B40606;
    font-family: 'Jura', sans-serif;
    padding: 15px;
    transition: all 0.5s;
}



#tabela{
    margin:13px;
    background-color: #091C30;
    border-radius: 48px;
    width: 87%;
}

#resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#botaoo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

#resultado > h3{
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
}

#botaoo > button{
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 12px;
    background-color: #228712;
    font-family: 'Jura', sans-serif;
    border: #228712;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s;
}

.arquivoPDF{
    background-color: #040B16;
    width: 100%;
    height: 1055px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: #FCFCF4;
}

.arquivoPDF > h1{
    padding: 10px;
    font-size: 47px;
}

.dados{
width: 100%;
height: 40%;
display: flex;
align-items: center;
justify-content: center;
background-color: #B40606;
}

.parte1{
    width: 50%;
    height: 100%;
    background-color: #121812;
}

.parte2{
    width: 50%;
    height: 100%;
    background-color: #517651;
}

.resultados{
    width: 100%;
    display: flex;
align-items: center;
justify-content: center;
    height: 40%;
    background-color: #534545;
}

.parte3{
    width: 50%;
    height: 100%;
    background-color: #4b2892;
}

.parte4{
    width: 50%;
    height: 100%;
    background-color: #278027;
}

.horario{
    width: 100%;
    height: 10%;
    background-color: #e85c5c;
}

@media (max-width:500px){
    .meio{
        display: none;
    }
    
}
